/* CSS styles */
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 600px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

body form + form {
  margin-top: 2em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 220;
  text-align: right;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 130px;
  /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
   between the labels and their text fields */
  margin-left: 0.5em;
}

.fixTableHead {
  overflow-y: auto;
  height: 110px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}
table {
  align-items: center;
  width: 800px;
  table-layout: fixed;       
  overflow: hidden;
  word-break: break-all;
  margin:auto;
  border-collapse:separate;
  border:solid black 1px;
  border-radius:10px;
  
}

th,
td {
  padding: 8px 15px;
  border: solid black 1px;
  
}

#search {
  background-image: url('https://img.icons8.com/color/search');
  background-size: 50px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 20px;
  padding: 11px 20px 12px 100px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius:10px;
}

